@import './reset';
@import './values';

@function weight($weight-name) {
    @return map-get($font-weights , $weight-name);

}
@mixin Recolor($light-theme: true){
    @if $light-theme{
        color: black;

    }

}

@mixin flexing ($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    
}

.light{
    @include Recolor($light-theme: true);


}

body {
    background: $primary-color;
    color: $text-color;
    font-weight: map-get($font-weights, regular);
    width: 80%;
    margin: 0 auto;
    line-height: $line-height;
}

main {
    @include flexing(column);
    width: 90%;
    margin: 0 auto;

    #{&}__paragraph{
    font-weight: weight(bold);

    }
ul{
    color: rgb(255, 102, 0);
    
}

h1, h2, h3, h4, h5, h6{
    line-height: 30px; 
    margin-top:20px;
    margin-bottom:10px;
  }

table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
    }
        

.slideshow-contained{
        text-align: center;
        max-width: fit-content;
        position: relative;
        margin: auto;
}
}