@import "../bootstrap/css/bootstrap-grid.css";

// Then add additional custom code here
.custom1 {
    background-color: indigo;
    color: white;
    font-size: 14px;
	line-height: 1.357;
	text-align: center;
	padding: 10px;
	padding-bottom: 20px;
}

.custompics{
    float: right;
    width: 200px;
    height: 120px;

}